body{
  font-family: "Open Sans", sans-serif;
  color: lightslategray;
  
}

h1, h2, h3 {
  font-family: "Lobster", cursive;
}

h2 {
  color: brown;
  margin: 0;
}

h4 {
  color: darkslategray;
}

header h2 {
  color: darkslategray;
}


.site-footer {
  background-image: linear-gradient(rgb(47, 79, 79), white);
  padding: 20px 0;
  width: relative;
}

.jumbotron {
  padding: 0;
  background-color: forestgreen;
  color: black;
  margin: 0;
}

.row-content {
  padding: 20px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: tan;
}

.card-title {
  font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba( 0, 0, 0, 0.5);
}
